@import url("https://fonts.googleapis.com/css2?family=Fira+Mono&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

input{
  font-family: "Poppins", sans-serif;
}

.lightBody {
  background-color: white;
  color: black;
}

.darkBody {
  background: linear-gradient(90deg, black, rgb(0, 0, 20));
  color: white;
}

.main_new{
  position: sticky;
  z-index: 2;
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  margin: none;
}

.cards_new {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  /* justify-content: center; */
}