.main {
  position: sticky;
  z-index: 1;
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  margin: none;
}

.textWrapper {
  margin-top: 50px;
  margin-left: 20px;
}

.mainText {
  margin-top: 10px;
  padding-left: 20px;
  height: 30px;
  font-weight: 500;
  font-size: 3.8em;
  transition: all 300ms ease;
  animation: text_1 40s ease infinite;
}

.mainText:nth-child(2) {
  animation-delay: 1s;
}

.mainText:nth-child(3) {
  animation-delay: 2s;
}

.subText {
  margin-top: 20px;
  padding-left: 20px;
  height: 30px;
  font-weight: 500;
  font-size: 1.2em;
  transition: all 300ms ease;
}

.video {
  position: absolute;
  margin-left: 53vw;
  margin-top: 40px;
}

.submitButton {
  width: 250px;
  height: 50px;
  border-radius: 10px;
  margin-top: 200px;
  margin-left: 590px;
  color: black;
  background-color: white;
  font-weight: 300;
  font-size: 1em;
  font-family: "Poppins", sans-serif;
  outline: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 300ms ease;
  cursor: pointer;
}

.submitButton:hover{
  box-shadow: rgba(255, 255, 255, 0.35) 0px 5px 15px;
}

.google {
  background: linear-gradient(to bottom left, transparent 49%, #fbbc05 50%) 0
      25%/48% 40%,
    linear-gradient(to top left, transparent 49%, #fbbc05 50%) 0 75%/48% 40%,
    linear-gradient(-40deg, transparent 53%, #ea4335 54%),
    linear-gradient(45deg, transparent 46%, #4285f4 48%), #34a853;
  background-repeat: no-repeat;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  zoom: 2;
  margin-right: 5px;
}

@keyframes text_1 {
  0% {
    color: white;
  }
  10% {
    color: #e4ff1a;
  }
  20% {
    color: white;
  }
  40% {
    color: #ff5714;
  }
  50% {
    color: white;
  }
  70% {
    color: #1be7ff;
  }
  80% {
    color: white;
  }
  100% {
    color: white;
  }
}
